.screen-out{
    position: absolute;
    overflow: hidden;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.modal{
    width: 500px;
    border: 1px solid #222;
    display: none;

    &.show{
        display: block;
    }

    &_title{
        background-color: #222;
        line-height: 80px;
        h1{
            color:#fff;
            font-size: 32px;
        }
    }

    &_content{
        height: 300px;
        background-color: #eee;
        padding: 20px;
    }
}